.project {
    min-height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 100px;
}

@media (max-width:1000px) {
    .project {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px 10px;
        gap: 5px;
    }
}

@media (max-width:600px) {
    .project {
        display: block;
        height: 25%;
    }
}