@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,100;1,200;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f8e192;
  background: -webkit-linear-gradient(to right, #f8e192, #ffffff);
  background: linear-gradient(to right, #f8e192, #ffffff);
  font-family: 'Poppins', sans-serif;
}